body{
  	color:#1d2130;
  	}
  	.navbar {
  	margin-bottom: 0;
  	background-color:#261e1e;
  	/* background-color: #2d2d30; */
  	border: 0;
  	font-weight:bold;
  	font-size: 11px !important;
  	letter-spacing: 4px;
  	opacity: 0.9;
	}

	.navbar li a, .navbar .navbar-brand { 
  	/* color: #d5d5d5 !important; 
  	color: #f4bb27 !important;*/
  	color: #ffffff !important;
	}
	.navbar-nav>li>a {
    line-height: 39px;
    font-size:large;
	}
	.navbar-brand>img {
    margin-top: -15px;
    margin-left: -13px;
    height: auto;
	}

	/* On hover, the links will turn white */
	.navbar-nav li a:hover {
  	color: #fff !important; 
  	padding-bottom:3px;
  	font-weight:750;
  	border-bottom:1.5px solid #fff;
  	}

	.navbar-nav li.active a {
  	color: #f4bb27 !important;
  	background-color:transparent !important;
	}
	/* The active link */
	.navbar-nav li.active a:hover {
  	font-weight:700;
  	border-bottom:none;
	}

	/* Remove border color from the collapsible button */
	.navbar-default .navbar-toggle {
 	border-color: transparent;
	}
	.container {
  	padding: 80px 120px;
  	}
	.carousel-inner{
	padding-top:69px;
	}
	.carousel-inner img{
  	width:100%;
  	margin:auto;
  	}
  	.carousel-caption h3 {
  	color: #fff !important;
 	}
 	.carousel-caption{
 	padding-bottom:48px;
 	font-size:1.5em;
 	}
	.movie {
	border: 2px solid #000;
  	margin-bottom: 25px;
  	width: 80%;
  	height: 80%;
  	opacity: 0.7;
  	border-radius:5px;
	}
	.movie:hover {
  	border-color: #f3f3f3;
	}
	.mission{
	padding:0;
	}
	li{
	list-style:none;
	}
	.venue {
	border: 2px solid #000;
  	margin-bottom: 25px;
  	width: 100%;
  	height: 18em;
  	opacity: 0.7;
  	border-radius:5px;
	}
	.venue:hover {
  	border-color: #f3f3f3;
	}
	h3 {
	font-size:200%;
	font-weight:700;
	color:white;
	}
	h5 {
	font-size:160%;
	font-weight:650;
	padding-bottom:0.5em;
	color:white;
	}
	hr{
	border-bottom:0.2em solid #fff;
	min-width:100px; 
	}
	#about {
 	padding-top:80px;
 	font-family: 'Karla', sans-serif;  
  	background-color:#f4bb27;
  	height:auto;
  	min-height:800px;
  	font-size:1em;
  	line-height:1.5em;
  	color:white;
  	width:100%;
  	font-weight:600;  
	}
	#about span{
	padding-bottom:0.1em;
	border-bottom:0.1em solid #fff;
	}
	#films{
	background-color:#292c3b;
	color:#ffffff;
	padding-top:80px;
 	font-family: 'Karla', sans-serif;  
  	height:auto;
  	min-height:800px;
  	font-size:1.5em;
  	line-height:1.5em;
  	width:100%;
  	font-weight:600;
	}
	button.close {
    opacity: 1;
    color:white;
    font-size:2em;
    }
    button.close:hover{
    color:#f4bb27;
    }
    button:focus{
    outline:none;
    }
    .trailer{
    color:#f4bb27;
    text-transform:uppercase;
    text-decoration:none;
    }
    .trailer:hover{
    color:#fff;
    }
    #register {
 	padding-top:80px;
 	font-family: 'Karla', sans-serif;  
  	background-color:#f4bb27;
  	height:auto;
  	min-height:800px;
  	font-size:0.8em;
  	line-height:1.5em;
  	color:#f4bb27;
  	width:100%;
  	font-weight:600;  
	}
	form{
	margin-top:25px;
	}
	.form-control:focus {
  	border-color: inherit;
  	-webkit-box-shadow: none;
  	box-shadow: none;
	}
  	.dropdownHead{
	color:#261e1e;
	font-size: 1.5em;
    margin: 1.5em auto 0.5em;
	}
	#datetime > ul >li:nth-child(1) {
	margin-left:-2.5em;
	}
	.input-sm{
	height:1em;
	padding:1.5em 2em;
	font-size:1.5em;
	}
	.form-control{
	color:#261e1e;
	border:0.1em solid #f4bb27; 
	}
	.register{
	background-color:#261e1e !important; 
	font-size:1em;
	}
	.btn{
	border:none;
	background-color:#f4bb27;
	color:white;
	width:100%;
	font-size:1.4em;
	margin-bottom:1em;
	}
	.btn:hover{
	background-color:#fff;
	color:#f4bb27;
	text-transform:uppercase;
	border:0.2em solid #f4bb27;
	}
	#venue {
 	padding-top:80px;
 	font-family: 'Karla', sans-serif;  
  	background-color:#292c3b;
  	height:auto;
  	min-height:800px;
  	font-size:1em;
  	line-height:1.5em;
  	color:white;
  	width:100%;
  	font-weight:600;  
	}
	#venue h5{
	color:#f4bb27;
	border-bottom:0.1em solid #f4bb27;
	font-size:1.2em;
	}
	#footer{
	background-color:#f4bb27;
	color:#ffffff;
	padding-top:10px;
 	font-family: 'Karla', sans-serif;  
  	height:auto;
  	min-height:10px;
  	font-size:1.5em;
  	line-height:1.5em;
  	width:100%;
  	font-weight:600;
	}
	.navbar-right{
	margin-right:0.5em;
	}
	.social{
	color:white;
	margin-top:0.5em;
	text-decoration:none;
	}
	.social:hover{
	color:#292c3b;
	text-decoration:none;
	}
	
	@media all and (max-width:800px)
	{
	.navbar-brand > img {
    margin-top: -15px;
    margin-left: -15px;
    height: 50px;
	}
	.navbar-nav>li>a {
    line-height: 20px;
    font-size: small;
	}
	.carousel-inner{
	padding-top:50px;
	}
	#about,#films, #register,#venue{
	font-size:110%;
	}
	h3{
	font-size:125%;
	font-weight:700;
	}
	h5{
	font-size:110%;
	font-weight:600;
	}
	#datetime button{
	margin-bottom:0.25em;
	}
	.input-sm{
	font-size:1em;
	}
	.btn{
	font-size:1.15em;
	}
	.register{
	margin-top:1em;
	font-size:1.4em;
	padding:0.81em 0;
	font-size:1.5em;
	}
	.dropdownHead{
	font-size:1.15em;
	}
	.social{
	font-size:1em;
	font-weight:300;
	}
	.carousel-caption{
 	padding-bottom:35px;
 	font-size:1.2em;
 	}
	}
	
	@media all and (min-width:1000px) and (max-width:1200px)
	{
	.navbar-brand > img {
    margin-top: -15px;
    margin-left: -15px;
    height: 60px;
    }
    .navbar-nav>li>a {
    line-height: 30px;
    font-size: medium;
	}
	.carousel-inner{
	padding-top:60px;
	}
	h3{
	font-size:150%;
	font-weight:650;
	}
	h5{
	font-size:120%;
	font-weight:600;
	}
	#datetime button{
	margin-bottom:0.25em;
	}
	.input-sm{
	font-size:1em;
	}
	.btn{
	font-size:1.25em;
	padding-left:0.3em;
	}
	.register{
	margin-top:1em;
	font-size:1.4em;
	padding:1.2em 0;
	font-size:1.5em;
	}
	.dropdownHead{
	font-size:1.5em;
	}
	.social{
	font-size:1.2em;
	font-weight:300;
	}
	.carousel-caption{
 	padding-bottom:35px;
 	font-size:1.2em;
 	}
	}