html{
	background-color:white;
	width:100%;
	height:100%;
}
body {
	width:80%;
	background-color:#bbb;
	font-family:Helvetica, sans-serif;
	color:white;
	margin:0 auto;
	height:80%;
}

nav {
	background-color:blue;
	padding:0.1em;
	margin:20px auto;
}
ul{
	text-align:center;
	padding:0px;
}
li{
	display:inline-block;
	list-style:none;
	margin:5px 30px;
}
a{
	color:white;
	font-weight:bold;
	font-size:1.5em;
	text-decoration:none;
	text-transform:capitalize;	
}
a:hover{
	text-transform:uppercase;
	font-size:2em;
}
h1,h2{
	text-align:center;
}
.container{
	
	width:50%;
	height:100%;
	margin:20px auto;
	display:grid;
	/*grid-template-columns:repeat(2,1fr);*/
	grid-template:repeat(3,2em 5em 3em) / repeat(1,1fr);
	grid-gap:1em;	
}
.container div{
	background-color:teal;
}
.container div:nth-of-type(1),div:nth-of-type(8) {
	background-color:red;
}

.container div:nth-of-type(2),div:nth-of-type(7) {
	background-color:violet;
}

.container div:nth-of-type(3),div:nth-of-type(6) {
	background-color:green;
}

.container div:nth-of-type(4),div:nth-of-type(5) {
	background-color:indigo;
}

@media all and (max-width: 480px) {
    body {
    height:95%;
    width:80%;
    }
    li {
        display: block;
        margin: 5px 0px;
    }
    h1{
    font-size:120%;
    }
    h2{
    font-size:100%;
    }
    .container div {
	height:16%;
	width:100%;
	border:0.1em solid #fff;
	padding-top:0.5em;
	margin-bottom:0.5em;
	text-align:center;
	display:block;
	}
}